<html>
<head>
<title>Formularios</title>
</head>
<body>
<header>
{% include 'header.html' %}

<div class="search">
<h1>Datos de preferencia</h1>
<p><a class="error">{{error}}</a></p>
<form id='form' method='post'>
<h3>Preferencias</h3>
{% csrf_token %}
{{form.as_p}}
<p><input type='submit' value='Guardar'/></p>
</form>
</div>

<div class="preferencias_left">
<table>
<tr>
<th>Licor</th>
<th>Puntuación</th>
</tr>
{% for cat in catLicor %}
<tr>
<td>{{cat.licor}}</td>
<td>{{cat.puntuacion}}</td>
</tr>
{%endfor%}
</table>
</div>

<div class="preferencias_center">
<table>
<tr>
<th>Origen</th>
<th>Puntuación</th>
</tr>
{% for cat in origenLicor %}
<tr>
<td>{{cat.origen}}</td>
<td>{{cat.puntuacion}}</td>
</tr>
{%endfor%}
</table>
</div>

<div class="preferencias_right">
<table>
<tr>
<th>Marca</th>
<th>Puntuación</th>
</tr>
{% for cat in marcaLicor %}
<tr>
<td>{{cat.marca}}</td>
<td>{{cat.puntuacion}}</td>
</tr>
{%endfor%}
</table>
</div>

</body>
</html>