<html>
<head>
<title>Licores</title>
</head>
<body>
<header>
{% include 'header.html' %}

<div class="search">
<h1>Buscar licores</h1>
<form id='form' method='post'>
{% csrf_token %}
{{form.as_p}}
<select multiple="multiple" name="categoria" >
{% for cat in categorias %}
  <option value="{{cat.id}}">{{cat.nombre}}</option>
 {%endfor%}
</select><br>
<a>Ordenar tabla por:</a><br>
<input type="radio" name="order" value="" checked="checked"> Similitud<br>
<input type="radio" name="order" value="precio"> Precio<br>
<input type="radio" name="order" value="titulo"> Título<br>
<input type="radio" name="order" value="graduacion"> Graduación<br>
<label>Mostrar: </label><input type="number" name="elem" value="{{elem}}"><br>
<label>Página: </label><input type="number" name="page" value="{{page}}"><br>
<a>Seleccione el número de elementos a mostrar</a><br>
<a>Seleccione la página que ver</a><br>
<p><input type='submit' value='Buscar'/></p>
</form>
</div>

<table style="width:50%" align="center" >
  <tr>
    <th>Título</th>
	<th>Imagen</th>
    <th>Código</th> 
    <th>Descripción</th>
    <th>Precio</th>
    <th>Origen</th> 
    <th>Cantidad/Peso</th>
    <th>Graduación</th>
    <th>Categoría</th>
    <th>Enlace</th>
    <th>Stock</th>
  </tr>
{% for licor in licores %}
  <tr>
    <td>{{licor.titulo}}</td>
    <td><img src="{{licor.urlImagen}}" width="100px"/></td> 
    <td>
    {% if not licor.codigoReferencia == "" %}
    	{{licor.codigoReferencia}}</td>
    {%endif%}
    {% if licor.codigoReferencia == "" %}
    	---
    {%endif%}
    </td> 
    <td><div class="tooltip">
    {%if not licor.descripcion == "" %}
        <a class="description">Descripción</a><span class="tooltiptext">{{licor.descripcion}}</span></div>
    {%endif%}
    {%if licor.descripcion == "" %}
        <a>---</a>
    {%endif%}
  </td>
    <td>
    {% if not licor.precio == "" %}
    	{{licor.precio}}€
    {%endif%}
    {% if licor.precio == "" %}
    	Desconocido
    {%endif%}
    </td>
    <td>
    {% if not licor.origen == "" %}
    	{{licor.origen}}
    {%endif%}
    {% if licor.origen == "" or licor.origen == "Desconocido" %}
    	No disponible
    {%endif%}
    </td> 
    <td>
    {% if not licor.cantidad == "" %}
    	{{licor.cantidad}}
    {%endif%}
    {% if licor.cantidad == "" %}
    	No disponible
    {%endif%}
    </td>
    <td>
    {% if not licor.graduacion == "" %}
    	{{licor.graduacion}}º
    {%endif%}
    {% if licor.graduacion == "" %}
    	No disponible
    {%endif%}
    </td>
    <td>
    {% for cate in licor.categoria_set.all %}
    <p>{{cate.nombre}}</p>
    {% endfor %}
    </td>
    <td><a href="{{licor.urlProducto}}" target="_blank">Enlace</a></td>
    {% if licor.enStock == True %}
    	<td><a class="green">En stock</a></td>
    {%endif%}
    {% if licor.enStock == False %}
    	<td><a class="red">Sin stock</a></td>
    {%endif%}
 </tr>
{% endfor %}
</table>
</body>
</html>