<html>
<head>
<title>Licores</title>
</head>
<body>
<header>
{% include 'header.html' %}

<h1>Buscar licores</h1>
<form id='form' method='post'>
{% csrf_token %}
{{form.as_p}}
<select multiple="multiple" name="categoria" >
{% for cat in categorias %}
  <option value="{{cat.id}}">{{cat.nombre}}</option>
 {%endfor%}
</select><br>
<a>Ordenar tabla por:</a><br>
<input type="radio" name="order" value="" checked="checked"> Similitud<br>
<input type="radio" name="order" value="precio"> Precio<br>
<input type="radio" name="order" value="titulo"> Título<br>
<input type="radio" name="order" value="graduacion"> Graduación<br>
<p><input type='submit' value='Buscar'/></p>
</form>

<table style="width:50%" align="center" >
  <tr>
    <th>Título</th>
	<th>Imagen</th>
    <th>Código</th> 
    <th>Descripción</th>
    <th>Precio</th>
    <th>Origen</th> 
    <th>Cantidad</th>
    <th>Graduación</th>
    <th>Categoría</th>
    <th>Enlace</th>
    <th>Stock</th>
  </tr>
{% for licor in licores %}
  <tr>
    <td>{{licor.titulo}}</td>
    <td><img src="{{licor.urlImagen}}" width="100px"/></td> 
    <td>{{licor.codigoReferencia}}</td> 
    <td><div class="tooltip">
    {%if not licor.descripcion == "" %}
        <a class="description">Descripción</a><span class="tooltiptext">{{licor.descripcion}}</span></div></td>
    {%endif%}
    <td>{{licor.precio}}€</td>
    <td>{{licor.origen}}</td> 
    <td>{{licor.cantidad}}</td>
    <td>{{licor.graduacion}}</td>
    <td>
    <ul>
    {% for cate in licor.categoria_set.all %}
    <li>{{cate.nombre}}</li>
    {% endfor %}
    </ul>
    </td>
    <td><a href="{{licor.urlProducto}}">Enlace</a></td>
    {% if licor.enStock == True %}
    	<td>En stock</td>
    {%endif%}
    {% if licor.enStock == False %}
    	<td>Sin stock</td>
    {%endif%}
 </tr>
{% endfor %}
</table>
</body>
</html>